.learnMore_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 64px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  text-align: center;
}
.learnMore_link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px 40px;
  text-decoration: none;
}
.learnMore_link span {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  margin-right: 15px;
  font-weight: 600;
}
.ArrowIcon {
  width: 15px;
  height: 13px;
}
